<h1>Contact</h1>
<p>
	This is the Contact page for EPH, a commercial website using Ruby on Rails.
</p>

<p>
	This page is a placeholder. Later on, we will add on to it with a contact form using Twitter Bootstrap.
</p>
