<h1>Meet</h1>
<p>
	This is the Meet Us page for EPH, a commercial website using Ruby on Rails.
</p>

<p>
	This page is a placeholder. Later on, we will add on to it. It will likely be a subpage of another page. 
</p>
