<h1>Products</h1>
<p>
	This is the Products page for EPH, a commercial website using Ruby on Rails.
</p>

<p>
	This page is a placeholder. Later on, we will add on to it. This will require referral links, which we can build into referral credits. We can use CJ for this action, or other advertisers. 
</p>
